@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 220 43% 11%;
    --card: 0 0% 100%;
    --card-foreground: 220 43% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 43% 11%;
    --primary: 232 100% 64%;
    --primary-foreground: 0 0% 100%;
    --secondary: 216 24% 96%;
    --secondary-foreground: 218 24% 27%;
    --muted: 216 24% 96%;
    --muted-foreground: 221 13% 46%;
    --accent: 216 24% 96%;
    --accent-foreground: 214 33% 17%;
    --destructive: 4 86% 58%;
    --destructive-foreground: 0 0% 100%;
    --border: 217 17% 91%;
    --input: 217 16% 84%;
    --ring: 232 100% 64%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-gray-50 text-foreground;
  }
}
